@media (max-width: 1440px) {
  .our-clients .container .right-container .top-bg {
    right: 0;
  }
}
@media (max-width: 1200px) {
  .cooperation-section .container {
    padding: 40px 20px;
  }
  .cooperation-section .container .text-section {
    max-width: 565px;
  }
  .cooperation-section .container .text-section h3 {
    font-size: 2.5rem;
  }
  .company-past-top .left-svg-icon {
    max-width: 300px;
  }
  .company-past .container .right-text-block h3 {
    max-width: 450px;
    font-size: 20px;
    margin-left: 15px;
    line-height: 30px;
  }
  .company-past .container .left-image-block .company-past-top-left-simple-Img {
    max-width: 400px;
  }
  .company-past .container .left-image-block h3 {
    font-size: 36px;
    margin: 120px 0 0 0;
  }
  .company-past .container .bottom-block h3 {
    max-width: 330px;
    font-size: 28px;
  }
  .company-past .container .company-past-bottom-left-img {
    max-width: 395px;
    width: 100%;
  }
  .company-past .bottom-left-routing-icon {
    position: absolute;
    bottom: 95px;
    max-width: 375px;
  }
  .company-present .container .left-text-block h3 {
    font-size: 20px;
    padding-right: 5px;
    line-height: 30px;
  }
  .company-present .container .right-image-block .company-present-right-block-img {
    max-width: 400px;
  }
  .company-present .container .right-image-block p {
    font-size: 36px;
    margin: 93px -90px;
  }
  .company-recommendation {
    margin-top: 100px;
  }
  .company-recommendation .container .container-item {
    width: 33.3%;
    height: 250px;
  }
  .company-recommendation .container .container-item:nth-child(2) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(5) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(8) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(9) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(10) {
    display: none;
  }
}
@media (max-width: 1024px) {
  nav .nav-right-info {
    max-width: 115px;
  }
  nav .nav-right-info .nav-right-info-text {
    display: none;
  }
  nav .nav-right-info .personal-account {
    margin-left: 20px;
  }
  nav .nav-right-info .personal-account svg {
    left: -14px;
    top: -4px;
  }
  nav .nav-right-info svg {
    background: url("../images/person-icon-mobile.svg") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }
  nav .nav-left-info {
    max-width: 115px;
  }
  .how-working .how-working-body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .how-working .how-working-body .how-working-title {
    font-size: 28px;
  }
  .how-working .how-working-body .seeMore {
    margin-bottom: 50px;
  }
  .how-working .how-working-body .seeMore .airplane-animation {
    display: none;
  }
  .our-clients .container .right-container {
    justify-content: start;
  }
  .our-clients .container .left-container {
    justify-content: center;
  }
  .our-clients .container .left-container .left-content {
    max-width: fit-content;
    padding-right: 20px;
  }
  .our-clients .container .left-container .left-content .content-item {
    padding: 12px 10px;
  }
  .our-clients .container .left-container .left-content .content-item span {
    font-size: 18px;
  }
  .cooperation-section .container .text-section {
    max-width: 405px;
  }
  .cooperation-section .container .text-section h3 {
    font-size: 2rem;
  }
  footer .container .footer-top {
    justify-content: space-around;
  }
  footer .container .footer-top .footer-top-left div a {
    margin: 0 5px;
  }
  footer .container .footer-top .footer-top-right {
    align-items: center;
  }
  footer .container .footer-top .footer-top-right .footer-top-right-top {
    margin-bottom: 50px;
  }
  footer .container .footer-top .footer-top-right .footer-top-right-top .footer-top-right-text {
    text-align: center;
  }
  footer .container .footer-top .footer-top-right .footer-top-right-bgText {
    margin: 35px 0;
  }
  .company-title h2 {
    font-size: 36px;
  }
  .company-past .container .right-text-block h3 {
    max-width: 385px;
    line-height: 28px;
    padding-left: 5px;
  }
  .company-past .container .left-image-block .company-past-top-left-simple-Img {
    max-width: 400px;
  }
  .company-past .container .left-image-block h3 {
    font-size: 28px;
    margin: 160px 0 0 0;
  }
  .company-past-top .left-svg-icon {
    bottom: 125px;
  }
  .company-present .container .left-text-block .left-block-img {
    display: none;
  }
  .company-present .container .left-text-block h3 {
    line-height: 28px;
  }
  .company-present .container .right-image-block .right-block-img {
    display: none;
  }
  .company-present .container .right-image-block .company-present-right-block-img {
    max-width: 360px;
  }
  .company-present .container .right-image-block p {
    font-size: 28px;
    margin: 72px -72px;
  }
  .company-recommendation {
    margin-top: 100px;
  }
  .company-recommendation .container .container-item {
    width: 50%;
    height: 250px;
  }
  .company-recommendation .container .container-item:nth-child(2) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(5) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(8) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(9) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(10) {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu {
    margin-top: 6.5rem;
  }
  .menu .container {
    flex-wrap: wrap;
  }
  .menu .container .menu-title {
    font-size: 18px;
    margin: 15px 0 10px;
  }
  .menu .container .menu-column {
    width: 47%;
    margin: 0 10px 0 0;
  }
  .menu .container .menu-column ul li {
    padding: 4px 12px;
  }
  nav .nav-right-info {
    max-width: 90px;
  }
  nav .nav-right-info .language {
    display: none;
  }
  nav .nav-left-info {
    max-width: 90px;
  }
  header .header-images:first-child {
    display: block;
    width: 100%;
  }
  header .header-images {
    display: none;
  }
  header .header-images img {
    display: none;
  }
  header .header-animation {
    display: none;
  }
  .how-working .how-working-body .how-working-title {
    width: 100%;
  }
  .how-working .how-working-body .seeMore {
    margin: 40px 0 50px;
  }
  .how-working .how-working-body .seeMore .btn-see-more {
    margin: auto;
  }
  .how-working .how-working-body .how-working-data {
    font-size: 14px;
  }
  .how-working .how-working-body .how-working-data span {
    font-size: 30px;
  }
  .how-working .how-working-body .how-working-day {
    font-size: 13px;
  }
  .our-clients .container {
    flex-direction: column;
  }
  .our-clients .container .left-container .left-content h3 {
    margin: 70px 0 30px;
  }
  .our-clients .container .left-container .left-content h3 img {
    display: none;
  }
  .our-clients .container .left-container .left-content .content-item .icon-Frame-394 {
    font-size: 32px;
  }
  .our-clients .container .left-container .left-content .content-item .icon-Frame-393 {
    font-size: 32px;
  }
  .our-clients .container .left-container .left-content .content-item span {
    font-size: 13px;
    font-weight: 400;
  }
  .our-clients .container .right-container {
    justify-content: center;
  }
  .our-clients .container .right-container img {
    margin: 0 0 50px;
  }
  .our-clients .container .right-container .top-bg {
    display: none;
  }
  .our-clients .container .right-container .bottom-bg {
    left: 15px;
    bottom: 0;
    top: -165px;
    z-index: -1;
  }
  .logos-section {
    margin-top: 65px;
    background-image: url("../images/logos-section-bg-mobil.webp");
  }
  .logos-section .container {
    flex-direction: column;
  }
  .logos-section .container .line {
    width: 220px;
    height: 1px;
  }
  .logos-section .container img {
    max-width: 110px;
    width: 100%;
    margin: 10px 0;
  }
  .cooperation-section {
    margin: 75px 0;
  }
  .cooperation-section .container {
    padding: 20px;
    flex-direction: column-reverse;
    background-image: url("../images/cooperation-mobile.webp");
  }
  .cooperation-section .container .text-section h3 {
    font-size: 20px;
  }
  .cooperation-section .container .from-section {
    justify-content: center;
  }
  footer .container .footer-top .footer-top-left div {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer .container .footer-top .footer-top-left div a {
    margin: 5px;
  }
  .company-title h2 {
    font-size: 24px;
  }
  .company-title div a {
    font-size: 12px;
  }
  .company-past .container .right-text-block {
    width: 100%;
    align-items: flex-start;
    margin-top: 40px;
  }
  .company-past .container .right-text-block h3 {
    padding-left: 0;
    margin: 0 0 20px 0;
  }
  .company-past .container .right-text-block h3 .service svg {
    left: -10px;
    top: -40px;
    max-width: 100px;
  }
  .company-past .container .right-text-block p {
    font-size: 13px;
    margin-left: 20%;
  }
  .company-past .container .left-image-block {
    width: 100%;
    flex-direction: column;
  }
  .company-past .container .left-image-block h3 {
    transform: rotate(0);
    margin: 0;
    font-size: 36px;
  }
  .company-past .container .left-image-block .company-past-top-left-simple-Img {
    max-width: 100%;
  }
  .company-past .container .company-past-bottom-left-img {
    max-width: 100%;
    width: 100%;
  }
  .company-past .container .bottom-text-block {
    margin-top: 40px;
  }
  .company-past .bottom-left-routing-icon {
    position: absolute;
    bottom: 0;
    max-width: 300px;
    top: 150px;
    left: -65px;
    transform: rotate(-45deg);
  }
  .company-past-top .left-svg-icon {
    display: none;
  }
  .company-present {
    padding: 100px 0 100px 0;
    margin-top: 0;
  }
  .company-present .container .left-text-block {
    width: 100%;
    order: 2;
  }
  .company-present .container .right-image-block {
    width: 100%;
    order: 1;
    flex-direction: column;
    margin-bottom: 80px;
    align-items: self-start;
  }
  .company-present .container .right-image-block .company-present-right-block-img {
    max-width: 100%;
    width: 100%;
  }
  .company-present .container .right-image-block .right-block-circle-img {
    display: none;
  }
  .company-present .container .right-image-block .right-block-circle-img-mobile {
    display: block;
    position: absolute;
    top: -100px;
    right: -55px;
  }
  .company-present .container .right-image-block p {
    transform: rotate(0);
    margin: 0;
    position: absolute;
    bottom: -40px;
    left: 0;
    font-size: 36px;
  }
  .company-present .container .bottom-text-block {
    order: 3;
  }
  .company-present .container .bottom-text-block p {
    font-size: 13px;
  }
  .company-present .container .bottom-text-block .bottom-block-img {
    top: -250px;
    right: -92px;
    width: 550px;
  }
  .company-recommendation {
    margin-top: 100px;
  }
  .company-recommendation .container .container-item {
    width: 100%;
    height: 250px;
  }
  .company-recommendation .container .container-item:nth-child(2) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(5) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(8) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(9) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(10) {
    display: none;
  }
  .find-more .container .top-section .btn-see-more {
    margin: 40px auto 0;
  }
}
@media (max-width: 767px) {
  .we-care .container {
    flex-wrap: wrap;
  }
  .we-care .container .we-care-item {
    max-width: 100%;
    margin: 40px 0 0 0;
  }
  .we-care .container .we-care-item h3 {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .menu .container .menu-column {
    width: 100%;
  }
  .menu .container .menu-column ul li {
    padding: 3px 12px;
    margin-bottom: 0;
  }
  .we-care .container .we-care-item {
    max-width: 100%;
  }
  footer .container .footer-top .footer-top-left .last-block button {
    width: 100%;
    margin: 10px 5px 0;
  }
  footer .container .footer-top .footer-top-right {
    margin: 20px 0;
  }
  footer .container .footer-top .footer-top-right .footer-top-right-bgText {
    margin: 20px 0;
  }
}

/*# sourceMappingURL=response.css.map */
