@import "helper";

@media (max-width: 1440px) {
  .our-clients{
    .container{
      .right-container{
        .top-bg{
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .cooperation-section {
    .container{
      padding: 40px 20px;
      .text-section{
        max-width: 565px;
        h3 {
          font-size: 2.5rem;
        }
      }
    }
  }

  .company-past-top{
    .left-image-block{
      .left-svg-icon {
        max-width: 300px;
        bottom: -30px;
        left: -135px;
      }
    }
  }

  .company-past{
    .container{
      .right-text-block{
        h3{
          max-width: 450px;
          font-size: 20px;
          margin-left: 15px;
          line-height: 30px;
        }
      }
      .left-image-block{

        .top-slider-animation {
          min-width: calc(100% - 173px);
          height: 310px;
        }
        h3{
          font-size: 36px;
          margin: 130px 0 0 0;
        }
      }
      .bottom-block{

        h3{
          max-width: 330px;
          font-size: 28px;
        }
      }
      .company-past-bottom-left-img{
        max-width: 395px;
        width: 100%;
      }
    }
    .bottom-left-routing-icon {
      position: absolute;
      max-width: 345px;
    }
  }

  .company-present{
    .container{
      .left-text-block{
        h3{
          font-size: 20px;
          padding-right: 5px;
          line-height: 30px;
        }
      }
      .right-image-block{
        .company-present-right-block-img{
          max-width: 400px;
        }
        p {
          font-size: 36px;
          margin: 93px -90px;
        }
      }
    }
  }

  .company-recommendation{
    margin-top: 100px;
    .container{
      .container-item{
        width: 33.3%;
        height: 250px;
      }
      .container-item:nth-child(1){

      }
      .container-item:nth-child(2){
        display: none;
      }
      .container-item:nth-child(5){
        display: none;
      }
      .container-item:nth-child(8){
        display: none;
      }
      .container-item:nth-child(9){
        display: none;
      }
      .container-item:nth-child(10){
        display: none;
      }
      .container-item:nth-child(11){

      }
    }
  }

  .news-section-cody{
    .container{
      gap: 0 20px;
      .news-body{
        gap: 20px 0;
        .news-body-item{
          @include col(6, 10px);
        }
      }
    }
  }

}

@media (max-width: 1024px) {

  nav{
    .nav-right-info{
      max-width: 115px;
      .nav-right-info-text{
        display: none;
      }
      .personal-account{
        margin-left: 20px;
        svg {
          left: -9px;
          top: -7px;
        }
      }
      svg {
        background: url('../images/person-icon-mobile.svg') !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
    }
    .nav-left-info{
      max-width: 115px;
    }
  }

  .how-working{
    .how-working-body{
      flex-wrap: wrap;
      justify-content: center;
      .how-working-title{
        font-size: 28px;
      }
      .seeMore{
        margin-bottom: 50px;
        .airplane-animation{
          display: none;
        }
      }
    }
  }

  .our-clients{
    .container{
      .right-container {
        justify-content: start;
        img{
        }
      }
      .left-container{
        justify-content: center;
        .left-content{
          max-width: fit-content;
          padding-right: 20px;
          .content-item{
            padding: 12px 0 12px 10px;

            span{
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .cooperation-section{
    .container{
      .text-section{
        max-width: 405px;
        h3 {
          font-size: 2rem;
        }
      }
    }
  }

  footer{
    .container{
      .footer-top{
        justify-content: space-around;
        .footer-top-left{
          div{
            a{
              margin: 0 5px;
            }
          }
        }
        .footer-top-right{
          align-items: center;
          .footer-top-right-top{
            margin-bottom: 50px;
            .footer-top-right-text{
              text-align: center;
            }
          }
          .footer-top-right-bgText{
            margin: 35px 0;
          }
        }
      }
    }
  }

  .company-title {
    h2 {
      font-size: 36px;
    }
  }

  .company-past{
    .container{
      .right-text-block{
        h3{
          max-width: 385px;
          line-height: 28px;
          padding-left: 5px;
          font-size: 28px;
        }
      }
      .left-image-block{
        .top-slider-animation {
          min-width: calc(100% - 127px);
          height: 280px;
        }
        h3{
          font-size: 28px;
        }
      }
      .company-past-bottom-left-img{
        max-width: 355px;
      }
    }
  }

  .company-past-top {
    .left-svg-icon {
      bottom: 125px;
    }
  }

  .company-present{
    .container{
      .left-text-block{
        .left-block-img{
          display: none;
        }
        h3{
          line-height: 28px;
        }
      }
      .right-image-block {
        .right-block-img{
          display: none;
        }
        .company-present-right-block-img {
          max-width: 360px;
        }
        p {
          font-size: 28px;
          margin: 72px -72px;
        }
      }
    }
  }

  .company-recommendation{
    margin-top: 100px;
    .container{
      .container-item{
        width: 50%;
        height: 250px;
      }
      .container-item:nth-child(1){

      }
      .container-item:nth-child(2){
        display: none;
      }
      .container-item:nth-child(5){
        display: none;
      }
      .container-item:nth-child(8){
        display: none;
      }
      .container-item:nth-child(9){
        display: none;
      }
      .container-item:nth-child(10){
        display: none;
      }
      .container-item:nth-child(11){

      }
    }
  }

  .news-section-cody{
    .container{
      flex-wrap: wrap;
      .news-body{
        width: 100%;
      }
      .news-sidebar{
        max-width: 450px;
        width: 100%;
        margin-top: 35px;
      }
    }
  }

  .bottom-slider{
    .container{
      padding: 0 20px 50px 20px;
      position: relative;
      .multiple-items{
        .slick-prev{
          position: absolute;
          bottom: -40px;
          left: 47%;
          transform: rotate(180deg);
          background: transparent;
          i{
            i{
              font-size: 18px;
              color: #214788;
              cursor: pointer;
            }
          }
        }
        .slick-next{
          position: absolute;
          bottom: -40px;
          left: 53%;
          background: transparent;
          i{
            i{
              font-size: 18px;
              color: #214788;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .reliable{
    .container{
      .right-text-block{
        h3{
          font-size: 36px;
          line-height: normal;
          margin-bottom: 30px;
        }
        .links-block{
          a{
            font-size: 14px;
            padding: 10px 12px;
            line-height: normal;
          }
        }
      }
      .reliable-left-img {
        max-width: 400px;
      }
    }
  }

  .fast {
    .container{
      .right-text-block{
        h3{
          font-size: 36px;
          line-height: normal;
          margin-bottom: 30px;
        }
        .links-block{
          a{
            font-size: 14px;
            padding: 10px 12px;
            line-height: normal;
          }
        }
      }
      .fast-left-img{
        max-width: 400px;
      }
    }
  }

  .organizations{
    .container{
      .organizations-title{
        h3{
          font-size: 36px;
          margin: 0 auto 40px;
          text-align: center;
        }
      }

      .text-item{
        font-size: 16px;
        padding: 20px 0;
      }
    }
  }

  .advantages{
    .container{
      .advantages-title{
        h3{
          font-size: 36px;
        }
      }
      .advantages-tabele {
        div{
          padding: 20px 5px;
        }
      }
    }
  }

}

@media (max-width: 768px) {

  .menu{
    margin-top: 6.5rem;
    .container{
      flex-wrap: wrap;
      .menu-title{
        font-size: 18px;
        margin: 15px 0 10px;
      }
      .menu-column {
        width: 47%;
        margin: 0 10px 0 0;
        ul{
          li{
            padding: 4px 12px;
          }
        }
      }
    }
  }

  .company-title {
    margin-top: 10px;
  }

  nav{
    .nav-right-info{
      max-width: 57px;
      .language{
        display: none;
      }
    }
    .nav-left-info{
      max-width: 60px;
    }
  }

  header{
    margin-top: -3px !important;
    .header-images:first-child{
      display: block;
      width: 100%;
    }
    .header-images{
      display: none;
      img{
        display: none;
      }
    }
    .header-animation{
      display: none;
    }
  }

  .how-working{
    margin-top: 28px;
    .how-working-counts{
      padding-right: 0;
      width: 100%;
      margin-top: 24px;
    }
    .how-working-body{
      .how-working-title{
        width: 100%;
      }
      .seeMore{
        margin: 16px 0 50px;
        .btn-see-more{
          margin: auto;
        }
      }
      .how-working-data{
        font-size: 14px;
        span{
          font-size: 30px;
        }
      }
      .how-working-day{
        font-size: 13px;
      }
    }
  }

  .our-clients {
    .container {
      flex-direction: column;
      .left-container {
        .left-content {
          h3{
            margin: 94px 0 38px;
            img{
              display: none;
            }
          }
          .content-item {
            .icon-Frame-394{
              font-size: 32px;
            }
            .icon-Frame-393{
              font-size: 32px;
            }
            span {
              font-size: 13px;
              font-weight: 400;
              margin-left: 15px;
            }
          }
        }
      }
      .right-container{
        justify-content: center;
        margin-top: -43px;
        img{
          margin: 0 0 50px;
        }
        .top-bg {
          display: none;
        }
        .bottom-bg{
          left: 15px;
          bottom: 0;
          top: -165px;
          z-index: -1;
        }
      }
    }
  }

  .we-care{
    margin-top: 13px;
  }

  .logos-section {
    margin-top: 71px;
    background-image: url("../images/logos-section-bg-mobil.webp");
  }
  .logos-section .container {
    flex-direction: column;
    padding-top: 12px;
  }
  .logos-section .container .line {
    width: 220px;
    height: 1px;

    &:first-child{
      display: none;
    }
    &:last-child{
      display: none;
    }
  }
  .logos-section .container img{
    max-width: 110px;
    width: 100%;
    margin: 10px 0;
  }

  .cooperation-section{
    margin: 75px 0;

    &.home{
      margin-top: 111px;
    }
    .container {
      padding: 16px 20px 20px 14px;
      flex-direction: column-reverse;
      background-image: url("../images/cooperation-mobile.webp");
      .text-section{
        h3 {
          font-size: 20px;
        }
      }
    }
  }

  .cooperation-section {
    .container {
      .from-section {
        justify-content: center;
      }
    }
  }

  nav {
    .nav-right-info{
      .personal-account{
        margin-left: 0px;
        margin-bottom: 4px;
      }
      a {
        .icon-person{
          font-size: 18px;
        }

      }
    }
  }



  footer{
    padding: 7px 0 15px;
    .container{
      .footer-top{
        .footer-top-left{
          div{
            flex-wrap: wrap;
            justify-content: flex-start;
            a{
              margin: 5px 0 15px 0;
            }
          }
          .last-block {
            margin-top: -15px;
          }
        }
      }
    }
  }


  .company-title {
    h2 {
      font-size: 24px;
    }
    div {
      a{
        font-size: 12px;
      }
    }
  }

  .company-past{
    .container{

      .right-text-block{
        width: 100%;
        align-items: flex-start;
        margin-top: 40px;
        h3{
          padding-left: 0;
          margin: 20px 0 49px 0;
          line-height: normal;
          font-size: 20px;
          .service {
            svg{
              left: -10px;
              top: -40px;
              max-width: 100px;
            }
          }
        }
        p{
          font-size: 13px;
          margin-left: 20%;
        }
      }

      .left-image-block{
        width: 100%;
        margin: 70px 0 0 0;
        flex-direction: column;
        h3{
          transform: rotate(0);
          margin: -15px 0px 0 -5px;
          font-size: 36px;
        }
        .company-past-top-left-simple-Img{
          max-width: 100%;
        }
      }

      .company-past-bottom-left-img{
        max-width: 100%;
        width: 100%;
      }

      .bottom-text-block{
        margin-top: 70px;
        p{
          line-height: normal;
        }
      }
    }
    .bottom-left-routing-icon {
      position: absolute;
      bottom: 0;
      max-width: 300px;
      top: 75px;
      left: -65px;
      transform: rotate(-45deg);
    }
  }

  .company-past-top{
    .left-svg-icon {
      display: none;
    }
    .right-text-block{
      .company-past-top-mobile-bg{
        display: block;
        position: absolute;
        width: 100%;
        max-width: 350px;
        bottom: 150px;
      }
    }
  }

  .company-past-bottom{
    .right-text-block{
      .company-past-top-mobile-bg{
        display: block;
        position: absolute;
        width: 100%;
        max-width: 350px;
        bottom: 150px;
      }
    }
  }

  .company-present{
    padding: 109px 0 100px 0;
    margin-top: 0;
    .container{
      .left-text-block{
        width: 100%;
        order: 2;
        padding: 0;
      }
      .right-image-block{
        width: 100%;
        order: 1;
        flex-direction: column;
        margin-bottom: 80px;
        align-items: self-start;
        .company-present-right-block-img {
          max-width: 100%;
          width: 100%;
        }
        .right-block-circle-img{
          display: none;
        }
        .right-block-circle-img-mobile{
          display: block;
          position: absolute;
          top: -100px;
          right: -55px;

        }
        p{
          transform: rotate(0);
          margin: 0;
          position: absolute;
          bottom: -40px;
          left: 0;
          font-size: 36px;
        }
      }
      .left-text-block{
        h3{
          line-height: normal;
          padding: 0;
          margin-top: 20px;
        }
      }
      .bottom-text-block{
        order: 3;
        margin-top: 40px;
        p{
          font-size: 13px;
        }
        .bottom-block-img{
          top: -250px;
          right: -12px;
          width: 360px;
        }
      }
    }
  }

  .company-past-bottom {
    .container{
      .left-image-block{
        margin-top: 0px;
        h3{
          margin: 4px 0px 0 -5px;
        }
      }
      .right-text-block{
        p{
          margin-top: 6px;
        }
      }
      .bottom-block {
        margin-top: 90px;
        h3{
          margin-top: 30px;
        }
      }
    }
  }

  .company-recommendation{
    margin-top: 80px;
    padding: 82px 0;
    .container{
      .container-item{
        width: 100%;
        height: 210px;
        p{
          margin-top: 30px;
        }
      }
      .container-item:nth-child(2){
        display: none;
      }
      .container-item:nth-child(5){
        display: none;
      }
      .container-item:nth-child(8){
        display: none;
      }
      .container-item:nth-child(9){
        display: none;
      }
      .container-item:nth-child(10){
        display: none;
      }
      .container-item:nth-child(11){
        margin-top: 37px;
      }
    }
  }

  .find-more{
    .container{
      .top-section{
        p{
          line-height: normal;
        }
        .btn-see-more{
          margin: 45px auto 0;
        }
      }
    }
  }

  .news-section-cody{
    .container{
      .news-body{
        .news-body-item{
          @include col(12, 0px);
        }
      }
    }
  }

  .bottom-slider{
    .container{

      .multiple-items{
        .menu-item{
          height: 430px;
          h3{
            font-size: 24px;
          }
          p{
            margin-top: 11px;
          }
        }
        .slick-prev{
          left: 42%;
        }
        .slick-next{
          left: 58%;
        }
      }
    }
  }

  .reliable{
    padding: 40px 0;
    .container{
      flex-direction: column;
      .right-text-block{
        h3{
          font-size: 24px;
          margin-bottom: 30px;
        }
        .links-block{
          a{
            i{
              transform: rotate(45deg);
            }
          }
        }
        .links-block{
          a{
            font-size: 13px;
          }
        }
      }
      .reliable-left-img {
        max-width: 100%;
        margin-top: 50px;
      }
    }
  }

  .fast {
    .container{
      flex-direction: column;
      .right-text-block{
        order: 1;
        h3{
          font-size: 24px;
          margin-bottom: 30px;
        }
        .links-block{
          a{
            font-size: 13px;
            i{
              transform: rotate(45deg);
            }
          }
        }
      }
      .fast-left-img{
        order: 2;
        max-width: 100%;
        margin-top: 50px;
      }
    }
  }

  .organizations{
    .container{
      .organizations-title{
        h3{
          font-size: 24px;
        }
      }
    }
  }

  .advantages{
    padding: 60px 0;
    .container{
      .advantages-title{
        h3{
          font-size: 24px;
        }
      }
      .advantages-tabele {
        flex-direction: column;
        div{
          max-width: 450px;
          width: 100%;
          height: 145px;
          padding: 20px 5px;
        }
      }
    }
  }

  .company-past-top{
    .container{
      .left-image-block{
        #output{
          transform: translate(0%, 100%) rotate(0);
        }
      }
    }
  }

}

@media (max-width: 767px){
.we-care{
.container{
  flex-wrap: wrap;
  .we-care-item {
    max-width: 100%;
    margin: 40px 0 0 0;
    h3{
      max-width: 100%;
    }
  }
}
}
}

@media (max-width: 425px) {

.menu {
.container {
  .menu-column {
    width: 100%;

    ul {
      li {
        padding: 3px 12px;
        margin-bottom: 0;
      }
    }
  }
}
}

.we-care .container .we-care-item {
  max-width: 100%;
  min-height: 135px;

}

footer {
.container {
  .footer-top {
    .footer-top-left {
      .last-block {
        button {
          width: 100%;
          margin: 10px 5px 0;
        }
      }
    }

    .footer-top-right {
      margin: 9px 0;

      .footer-top-right-bgText {
        margin: 20px 0;
      }
    }
  }
}
}
}