@media (max-width: 1440px) {
  .our-clients .container .right-container .top-bg {
    right: 0;
  }
}
@media (max-width: 1200px) {
  .cooperation-section .container {
    padding: 40px 20px;
  }
  .cooperation-section .container .text-section {
    max-width: 565px;
  }
  .cooperation-section .container .text-section h3 {
    font-size: 2.5rem;
  }
  .company-past-top .left-image-block .left-svg-icon {
    max-width: 300px;
    bottom: -30px;
    left: -135px;
  }
  .company-past .container .right-text-block h3 {
    max-width: 450px;
    font-size: 20px;
    margin-left: 15px;
    line-height: 30px;
  }
  .company-past .container .left-image-block .top-slider-animation {
    min-width: calc(100% - 173px);
    height: 310px;
  }
  .company-past .container .left-image-block h3 {
    font-size: 36px;
    margin: 130px 0 0 0;
  }
  .company-past .container .bottom-block h3 {
    max-width: 330px;
    font-size: 28px;
  }
  .company-past .container .company-past-bottom-left-img {
    max-width: 395px;
    width: 100%;
  }
  .company-past .bottom-left-routing-icon {
    position: absolute;
    max-width: 345px;
  }
  .company-present .container .left-text-block h3 {
    font-size: 20px;
    padding-right: 5px;
    line-height: 30px;
  }
  .company-present .container .right-image-block {
    max-width: 450px;
  }
  .company-present .container .right-image-block .company-present-right-block-img {
    max-width: 400px;
  }
  .company-present .container .right-image-block p {
    font-size: 36px;
  }
  .company-recommendation {
    margin-top: 100px;
  }
  .company-recommendation .container .container-item {
    width: 33.3%;
    height: 250px;
  }
  .company-recommendation .container .container-item:nth-child(2) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(5) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(8) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(9) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(10) {
    display: none;
  }
  .news-section-cody .container {
    gap: 0 20px;
  }
  .news-section-cody .container .news-body {
    gap: 20px 0;
  }
  .news-section-cody .container .news-body .news-body-item {
    width: calc(8.3333333333% * 6 - 10px);
  }
}
@media (max-width: 1024px) {
  nav .nav-right-info {
    max-width: 115px;
  }
  nav .nav-right-info .nav-right-info-text {
    display: none;
  }
  nav .nav-right-info .personal-account {
    margin-left: 20px;
  }
  nav .nav-right-info .personal-account svg {
    left: -9px;
    top: -7px;
  }
  nav .nav-right-info svg {
    background: url("../images/person-icon-mobile.svg") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }
  nav .nav-left-info {
    max-width: 115px;
  }
  .how-working .how-working-body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .how-working .how-working-body .how-working-title {
    font-size: 28px;
  }
  .how-working .how-working-body .seeMore {
    margin-bottom: 50px;
  }
  .how-working .how-working-body .seeMore .airplane-animation {
    display: none;
  }
  .our-clients .container .right-container {
    justify-content: start;
  }
  .our-clients .container .left-container {
    justify-content: center;
  }
  .our-clients .container .left-container .left-content {
    max-width: fit-content;
    padding-right: 20px;
  }
  .our-clients .container .left-container .left-content .content-item {
    padding: 12px 0 12px 10px;
  }
  .our-clients .container .left-container .left-content .content-item span {
    font-size: 18px;
  }
  .cooperation-section .container .text-section {
    max-width: 405px;
  }
  .cooperation-section .container .text-section h3 {
    font-size: 2rem;
  }
  footer .container .footer-top {
    justify-content: space-around;
  }
  footer .container .footer-top .footer-top-left div a {
    margin: 0 5px;
  }
  footer .container .footer-top .footer-top-right {
    align-items: center;
  }
  footer .container .footer-top .footer-top-right .footer-top-right-top {
    margin-bottom: 50px;
  }
  footer .container .footer-top .footer-top-right .footer-top-right-top .footer-top-right-text {
    text-align: center;
  }
  footer .container .footer-top .footer-top-right .footer-top-right-bgText {
    margin: 35px 0;
  }
  .company-title h2 {
    font-size: 36px;
  }
  .company-past .container .right-text-block h3 {
    max-width: 385px;
    line-height: 28px;
    padding-left: 5px;
    font-size: 28px;
  }
  .company-past .container .left-image-block .top-slider-animation {
    min-width: calc(100% - 127px);
    height: 280px;
  }
  .company-past .container .left-image-block h3 {
    font-size: 28px;
  }
  .company-past .container .company-past-bottom-left-img {
    max-width: 355px;
  }
  .company-past-top .left-svg-icon {
    bottom: 125px;
  }
  .company-present .container .left-text-block .left-block-img {
    display: none;
  }
  .company-present .container .left-text-block h3 {
    line-height: 28px;
  }
  .company-present .container .right-image-block {
    max-width: 390px;
  }
  .company-present .container .right-image-block .right-block-img {
    display: none;
  }
  .company-present .container .right-image-block .company-present-right-block-img {
    max-width: 355px;
  }
  .company-present .container .right-image-block p {
    font-size: 28px;
  }
  .company-recommendation {
    margin-top: 100px;
  }
  .company-recommendation .container .container-item {
    width: 50%;
    height: 250px;
  }
  .company-recommendation .container .container-item:nth-child(2) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(5) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(8) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(9) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(10) {
    display: none;
  }
  .news-section-cody .container {
    flex-wrap: wrap;
  }
  .news-section-cody .container .news-body {
    width: 100%;
  }
  .news-section-cody .container .news-sidebar {
    max-width: 450px;
    width: 100%;
    margin-top: 35px;
  }
  .bottom-slider .container {
    padding: 0 20px 50px 20px;
    position: relative;
  }
  .bottom-slider .container .multiple-items .slick-prev {
    position: absolute;
    bottom: -40px;
    left: 47%;
    transform: rotate(180deg);
    background: transparent;
  }
  .bottom-slider .container .multiple-items .slick-prev i i {
    font-size: 18px;
    color: #214788;
    cursor: pointer;
  }
  .bottom-slider .container .multiple-items .slick-next {
    position: absolute;
    bottom: -40px;
    left: 53%;
    background: transparent;
  }
  .bottom-slider .container .multiple-items .slick-next i i {
    font-size: 18px;
    color: #214788;
    cursor: pointer;
  }
  .reliable .container .right-text-block h3 {
    font-size: 36px;
    line-height: normal;
    margin-bottom: 30px;
  }
  .reliable .container .right-text-block .links-block a {
    font-size: 14px;
    padding: 10px 12px;
    line-height: normal;
  }
  .reliable .container .reliable-left-img {
    max-width: 400px;
  }
  .fast .container .right-text-block h3 {
    font-size: 36px;
    line-height: normal;
    margin-bottom: 30px;
  }
  .fast .container .right-text-block .links-block a {
    font-size: 14px;
    padding: 10px 12px;
    line-height: normal;
  }
  .fast .container .fast-left-img {
    max-width: 400px;
  }
  .organizations .container .organizations-title h3 {
    font-size: 36px;
    margin: 0 auto 40px;
    text-align: center;
  }
  .organizations .container .text-item {
    font-size: 16px;
    padding: 20px 0;
  }
  .advantages .container .advantages-title h3 {
    font-size: 36px;
  }
  .advantages .container .advantages-tabele div {
    padding: 20px 5px;
  }
}
@media (max-width: 768px) {
  .menu {
    margin-top: 6.5rem;
  }
  .menu .container {
    flex-wrap: wrap;
  }
  .menu .container .menu-title {
    font-size: 18px;
    margin: 15px 0 10px;
  }
  .menu .container .menu-column {
    width: 47%;
    margin: 0 10px 0 0;
  }
  .menu .container .menu-column ul li {
    padding: 4px 12px;
  }
  .company-title {
    margin-top: 10px;
  }
  nav .nav-right-info {
    max-width: 57px;
  }
  nav .nav-right-info .language {
    display: none;
  }
  nav .nav-left-info {
    max-width: 60px;
  }
  header {
    margin-top: -3px !important;
  }
  header .header-images:first-child {
    display: block;
    width: 100%;
  }
  header .header-images {
    display: none;
  }
  header .header-images img {
    display: none;
  }
  header .header-animation {
    display: none;
  }
  .how-working {
    margin-top: 28px;
  }
  .how-working .how-working-counts {
    padding-right: 0;
    width: 100%;
    margin-top: 24px;
  }
  .how-working .how-working-body .how-working-title {
    width: 100%;
  }
  .how-working .how-working-body .seeMore {
    margin: 16px 0 50px;
  }
  .how-working .how-working-body .seeMore .btn-see-more {
    margin: auto;
  }
  .how-working .how-working-body .how-working-data {
    font-size: 14px;
  }
  .how-working .how-working-body .how-working-data span {
    font-size: 30px;
  }
  .how-working .how-working-body .how-working-day {
    font-size: 13px;
  }
  .our-clients .container {
    flex-direction: column;
  }
  .our-clients .container .left-container .left-content h3 {
    margin: 94px 0 38px;
  }
  .our-clients .container .left-container .left-content h3 img {
    display: none;
  }
  .our-clients .container .left-container .left-content .content-item .icon-Frame-394 {
    font-size: 32px;
  }
  .our-clients .container .left-container .left-content .content-item .icon-Frame-393 {
    font-size: 32px;
  }
  .our-clients .container .left-container .left-content .content-item span {
    font-size: 13px;
    font-weight: 400;
    margin-left: 15px;
  }
  .our-clients .container .right-container {
    justify-content: center;
    margin-top: -43px;
  }
  .our-clients .container .right-container img {
    margin: 0 0 50px;
  }
  .our-clients .container .right-container .top-bg {
    display: none;
  }
  .our-clients .container .right-container .bottom-bg {
    left: 15px;
    bottom: 0;
    top: -165px;
    z-index: -1;
  }
  .we-care {
    margin-top: 13px;
  }
  .logos-section {
    margin-top: 71px;
    background-image: url("../images/logos-section-bg-mobil.webp");
  }
  .logos-section .container {
    flex-direction: column;
    padding-top: 12px;
  }
  .logos-section .container .line {
    width: 220px;
    height: 1px;
  }
  .logos-section .container .line:first-child {
    display: none;
  }
  .logos-section .container .line:last-child {
    display: none;
  }
  .logos-section .container img {
    max-width: 110px;
    width: 100%;
    margin: 10px 0;
  }
  .cooperation-section {
    margin: 75px 0;
  }
  .cooperation-section.home {
    margin-top: 111px;
  }
  .cooperation-section .container {
    padding: 16px 20px 20px 14px;
    flex-direction: column-reverse;
    background-image: url("../images/cooperation-mobile.webp");
  }
  .cooperation-section .container .text-section h3 {
    font-size: 20px;
  }
  .cooperation-section .container .from-section {
    justify-content: center;
  }
  nav .nav-right-info .personal-account {
    margin-left: 0px;
    margin-bottom: 4px;
  }
  nav .nav-right-info a .icon-person {
    font-size: 18px;
  }
  footer {
    padding: 7px 0 15px;
  }
  footer .container .footer-top .footer-top-left div {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer .container .footer-top .footer-top-left div a {
    margin: 5px 0 15px 0;
  }
  footer .container .footer-top .footer-top-left .last-block {
    margin-top: -15px;
  }
  .company-title h2 {
    font-size: 24px;
  }
  .company-title div a {
    font-size: 12px;
  }
  .company-past .container .right-text-block {
    width: 100%;
    align-items: flex-start;
    margin-top: 40px;
  }
  .company-past .container .right-text-block h3 {
    padding-left: 0;
    margin: 20px 0 49px 0;
    line-height: normal;
    font-size: 20px;
  }
  .company-past .container .right-text-block h3 .service svg {
    left: -10px;
    top: -40px;
    max-width: 100px;
  }
  .company-past .container .right-text-block p {
    font-size: 13px;
    margin-left: 20%;
  }
  .company-past .container .left-image-block {
    width: 100%;
    margin: 70px 0 0 0;
    flex-direction: column;
  }
  .company-past .container .left-image-block h3 {
    transform: rotate(0);
    margin: -15px 0px 0 -5px;
    font-size: 36px;
  }
  .company-past .container .left-image-block .company-past-top-left-simple-Img {
    max-width: 100%;
  }
  .company-past .container .company-past-bottom-left-img {
    max-width: 100%;
    width: 100%;
  }
  .company-past .container .bottom-text-block {
    margin-top: 70px;
  }
  .company-past .container .bottom-text-block p {
    line-height: normal;
  }
  .company-past .bottom-left-routing-icon {
    position: absolute;
    bottom: 0;
    max-width: 300px;
    top: 75px;
    left: -65px;
    transform: rotate(-45deg);
  }
  .company-past-top .left-svg-icon {
    display: none;
  }
  .company-past-top .right-text-block .company-past-top-mobile-bg {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 350px;
    bottom: 150px;
  }
  .company-past-bottom .right-text-block .company-past-top-mobile-bg {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 350px;
    bottom: 150px;
  }
  .company-present {
    padding: 109px 0 100px 0;
    margin-top: 0;
  }
  .company-present .container .left-text-block {
    width: 100%;
    order: 2;
    padding: 0;
  }
  .company-present .container .right-image-block {
    max-width: 100%;
    width: 100%;
    order: 1;
    flex-direction: column;
    margin-bottom: 80px;
    align-items: self-start;
  }
  .company-present .container .right-image-block .company-present-right-block-img {
    max-width: 100%;
    width: 100%;
  }
  .company-present .container .right-image-block .right-block-circle-img {
    display: none;
  }
  .company-present .container .right-image-block .right-block-circle-img-mobile {
    display: block;
    position: absolute;
    top: -100px;
    right: -55px;
  }
  .company-present .container .right-image-block p {
    transform: rotate(0);
    margin: 0;
    position: absolute;
    bottom: -40px;
    left: 0;
    font-size: 36px;
  }
  .company-present .container .left-text-block h3 {
    line-height: normal;
    padding: 0;
    margin-top: 20px;
  }
  .company-present .container .bottom-text-block {
    order: 3;
    margin-top: 40px;
  }
  .company-present .container .bottom-text-block p {
    font-size: 13px;
  }
  .company-present .container .bottom-text-block .bottom-block-img {
    top: -250px;
    right: -12px;
    width: 360px;
  }
  .company-past-bottom .container .left-image-block {
    margin-top: 0px;
  }
  .company-past-bottom .container .left-image-block h3 {
    margin: 4px 0px 0 -5px;
  }
  .company-past-bottom .container .right-text-block p {
    margin-top: 6px;
  }
  .company-past-bottom .container .bottom-block {
    margin-top: 90px;
  }
  .company-past-bottom .container .bottom-block h3 {
    margin-top: 30px;
  }
  .company-recommendation {
    margin-top: 80px;
    padding: 82px 0;
  }
  .company-recommendation .container .container-item {
    width: 100%;
    height: 210px;
  }
  .company-recommendation .container .container-item p {
    margin-top: 30px;
  }
  .company-recommendation .container .container-item:nth-child(2) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(5) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(8) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(9) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(10) {
    display: none;
  }
  .company-recommendation .container .container-item:nth-child(11) {
    margin-top: 37px;
  }
  .find-more .container .top-section p {
    line-height: normal;
  }
  .find-more .container .top-section .btn-see-more {
    margin: 45px auto 0;
  }
  .news-section-cody .container .news-body .news-body-item {
    width: calc(8.3333333333% * 12 - 0px);
  }
  .bottom-slider .container .multiple-items .menu-item {
    height: 430px;
  }
  .bottom-slider .container .multiple-items .menu-item h3 {
    font-size: 24px;
  }
  .bottom-slider .container .multiple-items .menu-item p {
    margin-top: 11px;
  }
  .bottom-slider .container .multiple-items .slick-prev {
    left: 42%;
  }
  .bottom-slider .container .multiple-items .slick-next {
    left: 58%;
  }
  .reliable {
    padding: 40px 0;
  }
  .reliable .container {
    flex-direction: column;
  }
  .reliable .container .right-text-block h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .reliable .container .right-text-block .links-block a i {
    transform: rotate(45deg);
  }
  .reliable .container .right-text-block .links-block a {
    font-size: 13px;
  }
  .reliable .container .reliable-left-img {
    max-width: 100%;
    margin-top: 50px;
  }
  .fast .container {
    flex-direction: column;
  }
  .fast .container .right-text-block {
    order: 1;
  }
  .fast .container .right-text-block h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .fast .container .right-text-block .links-block a {
    font-size: 13px;
  }
  .fast .container .right-text-block .links-block a i {
    transform: rotate(45deg);
  }
  .fast .container .fast-left-img {
    order: 2;
    max-width: 100%;
    margin-top: 50px;
  }
  .organizations .container .organizations-title h3 {
    font-size: 24px;
  }
  .advantages {
    padding: 60px 0;
  }
  .advantages .container .advantages-title h3 {
    font-size: 24px;
  }
  .advantages .container .advantages-tabele {
    flex-direction: column;
  }
  .advantages .container .advantages-tabele div {
    max-width: 450px;
    width: 100%;
    height: 145px;
    padding: 20px 5px;
  }
  .company-past-top .container .left-image-block #output {
    transform: translate(0%, 100%) rotate(0);
  }
}
@media (max-width: 767px) {
  .we-care .container {
    flex-wrap: wrap;
  }
  .we-care .container .we-care-item {
    max-width: 100%;
    margin: 40px 0 0 0;
  }
  .we-care .container .we-care-item h3 {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .menu .container .menu-column {
    width: 100%;
  }
  .menu .container .menu-column ul li {
    padding: 3px 12px;
    margin-bottom: 0;
  }
  .we-care .container .we-care-item {
    max-width: 100%;
    min-height: 135px;
  }
  footer .container .footer-top .footer-top-left .last-block button {
    width: 100%;
    margin: 10px 5px 0;
  }
  footer .container .footer-top .footer-top-right {
    margin: 9px 0;
  }
  footer .container .footer-top .footer-top-right .footer-top-right-bgText {
    margin: 20px 0;
  }
}

/*# sourceMappingURL=response.css.map */
