
@media (max-width: 1440px) {
  .our-clients{
    .container{
      .right-container{
        .top-bg{
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .cooperation-section {
    .container{
      padding: 40px 20px;
      .text-section{
        max-width: 565px;
        h3 {
          font-size: 2.5rem;
        }
      }
    }
  }



  .company-past-top{
    .left-svg-icon {
      max-width: 300px;
    }
  }

  .company-past{
    .container{
      .right-text-block{
        h3{
          max-width: 450px;
          font-size: 20px;
          margin-left: 15px;
          line-height: 30px;
        }
      }
      .left-image-block{
        .company-past-top-left-simple-Img{
          max-width: 400px;
        }
        h3 {
          font-size: 36px;
          margin: 120px 0 0 0;
        }
      }
    }
  }



}

@media (max-width: 1024px) {

  nav{
    .nav-right-info{
      max-width: 115px;
      .nav-right-info-text{
        display: none;
      }
      .personal-account{
        margin-left: 20px;
        svg {
          left: -14px;
          top: -4px;
        }
      }
      svg {
        background: url('../images/person-icon-mobile.svg') !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
    }
    .nav-left-info{
      max-width: 115px;
    }
  }

  .how-working{
    .how-working-body{
      flex-wrap: wrap;
      justify-content: center;
      .how-working-title{
        font-size: 28px;
      }
      .seeMore{
        margin-bottom: 50px;
        .airplane-animation{
          display: none;
        }
      }
    }
  }

  .our-clients{
    .container{
      .right-container {
        justify-content: start;
        img{
        }
      }
      .left-container{
        justify-content: center;
        .left-content{
          max-width: fit-content;
          padding-right: 20px;
          .content-item{
            padding: 12px 10px;
            span{
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .cooperation-section{
    .container{
      .text-section{
        max-width: 405px;
        h3 {
          font-size: 2rem;
        }
      }
    }
  }

  footer{
    .container{
      .footer-top{
        justify-content: space-around;
        .footer-top-left{
          div{
            a{
              margin: 0 5px;
            }
          }
        }
        .footer-top-right{
          align-items: center;
          .footer-top-right-top{
            margin-bottom: 50px;
            .footer-top-right-text{
              text-align: center;
            }
          }
          .footer-top-right-bgText{
            margin: 35px 0;
          }
        }
      }
    }
  }

  .company-title {
    h2 {
      font-size: 36px;
    }
  }

  .company-past{
    .container{
      .right-text-block{
        h3{
          max-width: 385px;
          line-height: 28px;
          padding-left: 5px;
        }
      }
      .left-image-block{
        .company-past-top-left-simple-Img{
          max-width: 400px;
        }
        h3 {
          font-size: 28px;
          margin: 160px 0 0 0;
        }
      }

    }
  }

  .company-past-top {
    .left-svg-icon {
      bottom: 125px;
    }
  }
}

@media (max-width: 768px) {

  .menu{
    margin-top: 6.5rem;
    .container{
      flex-wrap: wrap;
      .menu-title{
        font-size: 18px;
        margin: 15px 0 10px;
      }
      .menu-column {
        width: 47%;
        margin: 0 10px 0 0;
        ul{
          li{
            padding: 4px 12px;
          }
        }
      }
    }
  }

  nav{
    .nav-right-info{
      max-width: 90px;
      .language{
        display: none;
      }
    }
    .nav-left-info{
      max-width: 90px;
    }
  }

  header{
    .header-images:first-child{
      display: block;
      width: 100%;
    }
    .header-images{
      display: none;
      img{
        display: none;
      }
    }
    .header-animation{
      display: none;
    }
  }

  .how-working{
    .how-working-body{
      .how-working-title{
        width: 100%;
      }
      .seeMore{
        margin: 40px 0 50px;
        .btn-see-more{
          margin: auto;
        }
      }
      .how-working-data{
        font-size: 14px;
        span{
          font-size: 30px;
        }
      }
      .how-working-day{
        font-size: 13px;
      }
    }
  }

  .our-clients {
    .container {
      flex-direction: column;
      .left-container {
        .left-content {
          h3{
            margin: 70px 0 30px;
            img{
              display: none;
            }
          }
          .content-item {
            .icon-Frame-394{
              font-size: 32px;
            }
            .icon-Frame-393{
              font-size: 32px;
            }
            span {
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
      }
      .right-container{
        justify-content: center;
        img{
          margin: 0 0 50px;
        }
        .top-bg {
          display: none;
        }
        .bottom-bg{
          left: 15px;
          bottom: 0;
          top: -165px;
          z-index: -1;
        }
      }
    }
  }

  .logos-section {
    margin-top: 65px;
    background-image: url("../images/logos-section-bg-mobil.webp");
  }
  .logos-section .container {
    flex-direction: column;
  }
  .logos-section .container .line {
    width: 220px;
    height: 1px;
  }
  .logos-section .container img{
    max-width: 110px;
    width: 100%;
    margin: 10px 0;
  }

  .cooperation-section{
    margin: 75px 0;
    .container {
      padding: 20px;
      flex-direction: column-reverse;
      background-image: url("../images/cooperation-mobile.webp");
      .text-section{
        h3 {
          font-size: 20px;
        }
      }
    }
  }

  .cooperation-section {
    .container {
      .from-section {
        justify-content: center;
      }
    }
  }

  footer{
    .container{
      .footer-top{
        .footer-top-left{
          div{
            flex-wrap: wrap;
            justify-content: flex-start;
            a{
              margin: 5px;
            }
          }
        }
      }
    }
  }

  .company-title {
    h2 {
      font-size: 24px;
    }
    div {
      a{
        font-size: 12px;
      }
    }
  }

  .company-past{
    .container{

      .right-text-block{
        width: 100%;
        align-items: flex-start;
        margin-top: 40px;
        h3{
          padding-left: 0;
          margin: 0 0 20px 0;
        }
        p{
          font-size: 13px;
        }
      }

      .left-image-block{
        width: 100%;
        flex-direction: column;
        h3{
          transform: rotate(0);
          margin: 0;
        }
        .company-past-top-left-simple-Img{
          max-width: 500px;
        }
      }

      .bottom-text-block{
        margin-top: 40px;
      }

    }
  }
  .company-past-top .left-svg-icon {
    display: none;
  }
}

@media (max-width: 767px){
  .we-care{
    .container{
      flex-wrap: wrap;
      .we-care-item {
        max-width: 100%;
        margin: 40px 0 0 0;
        h3{
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 425px) {

  .menu {
    .container {
      .menu-column {
        width: 100%;

        ul {
          li {
            padding: 3px 12px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .we-care .container .we-care-item {
    max-width: 100%;
  }

  footer {
    .container {
      .footer-top {
        .footer-top-left {
          .last-block {
            button {
              width: 100%;
              margin: 10px 5px 0;
            }
          }
        }

        .footer-top-right {
          margin: 20px 0;

          .footer-top-right-bgText {
            margin: 20px 0;
          }
        }
      }
    }
  }
}