@import "../fonts/stylesheet.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #033862;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #033862;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
button {
  border: 0;
}

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn-see-more {
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  width: 11.25rem;
  height: 2.5rem;
  cursor: pointer;
}
.btn-see-more svg {
  position: absolute;
  left: -31px;
  top: -7px;
  z-index: -1;
  zoom: 1.1;
}
.btn-see-more svg path {
  fill: #11366F;
  transition: 0.3s;
}
.btn-see-more i {
  margin-left: 0.625rem;
}
.btn-see-more:hover svg path {
  fill: #092756;
  transition: 0.3s;
}

.header {
  height: 22.625rem;
  background-size: cover;
  position: relative;
  box-shadow: 4px 4px 67.7px 1px rgba(146, 146, 146, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-images {
  object-fit: cover;
  filter: brightness(0.5);
  transition: 0.7s;
}
.header-images:hover {
  filter: brightness(1);
}
.header-animation {
  position: absolute;
  right: 0;
  top: 0;
}

.title-animation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-animation span {
  position: relative;
  overflow: hidden;
  display: block;
  border-right: 1px solid rgba(232, 232, 232, 0.4);
}
.title-animation span:before {
  content: var(--letter);
  position: relative;
  right: -100px;
  color: #FFF;
  text-align: center;
  font-size: 78px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 8px 10px 0 10px;
  animation: title-animation 6s infinite ease;
}

@keyframes title-animation {
  0% {
    right: -100px;
  }
  30% {
    right: 0;
  }
  70% {
    right: 0;
  }
  99% {
    right: -100px;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
}
nav .nav-right-info {
  max-width: 24.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-right-info .personal-account a {
  background-image: url("../images/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.75rem 1.5625rem 0.75rem 0;
  transition: 0.3s;
}
nav .nav-right-info .personal-account a:hover {
  background-image: url("../images/Vector-bg.svg");
}
nav .nav-right-info a {
  color: #282828;
  font-size: 14px;
  font-weight: 600;
}
nav .nav-right-info a .icon-person {
  font-size: 1rem;
  margin-right: 0.3125rem;
}
nav .nav-right-info a .icon-phone {
  font-size: 1rem;
  margin-right: 0.3125rem;
}
nav .nav-right-info .language {
  text-decoration: underline;
}
nav .nav-left-info {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}
nav .nav-left-info svg path {
  transition: 0.3s;
}
nav .nav-left-info.show svg path:nth-of-type(1) {
  opacity: 0;
}
nav .nav-left-info.show svg path:nth-of-type(2) {
  transform: translate(-4px, 13px) rotate(-45deg);
}
nav .nav-left-info.show svg path:nth-of-type(3) {
  transform: translate(17px, -7px) rotate(45deg);
}

.how-working {
  margin-top: 2.5rem;
}
.how-working-body {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.how-working-title {
  width: 515.15px;
  color: #282828;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.how-working-description {
  color: #6C6C6C;
  font-size: 14px;
  font-weight: 400;
  margin-top: 1.25rem;
  width: 100%;
  max-width: 250px;
}
.how-working-your {
  color: #282828;
  text-align: right;
  font-size: 0.875rem;
  font-weight: 500;
}
.how-working-data {
  display: flex;
  display: flex;
  justify-content: end;
  align-items: end;
  color: #282828;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}
.how-working-data span {
  font-size: 3.125rem;
  position: relative;
  bottom: -9px;
  margin-right: 5px;
}
.how-working-day {
  color: #282828;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.75rem;
}

.seeMore {
  margin-top: 1.25rem;
  display: flex;
  justify-content: start;
}
.seeMore .btn-see-more:hover ~ .airplane-animation {
  opacity: 1;
}
.seeMore .btn-see-more:hover ~ .airplane-animation .airplane {
  animation: airplane 6s infinite ease;
  animation-iteration-count: 1;
}
.seeMore .airplane-animation {
  margin-left: 30px;
  transition: 0.3s;
  opacity: 0;
}
.seeMore .airplane-animation svg {
  margin-top: -92px;
}
.seeMore .airplane-animation .airplane {
  transform: translate(0, 0);
}

@keyframes airplane {
  0% {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
  50% {
    transform: translate(80px, -5px) rotate(-5deg);
    opacity: 1;
  }
  90% {
    transform: translate(300px, -40px) rotate(-20deg);
    opacity: 1;
  }
  100% {
    transform: translate(300px, -40px) rotate(-20deg);
    opacity: 0;
  }
}
.our-clients .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.our-clients .container .left-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 75px;
}
.our-clients .container .left-container .left-content {
  max-width: 44.375rem;
  width: 100%;
}
.our-clients .container .left-container .left-content h3 {
  margin: 2.5rem 0 1.875rem;
  color: #282828;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}
.our-clients .container .left-container .left-content h3 img {
  position: absolute;
  opacity: 0.05;
  left: -200px;
  top: -60px;
}
.our-clients .container .left-container .left-content .content-item {
  max-width: 36.875rem;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
}
.our-clients .container .left-container .left-content .content-item .icon-Frame-394 {
  font-size: 48px;
}
.our-clients .container .left-container .left-content .content-item .icon-Frame-394:before {
  transition: 0.3s;
}
.our-clients .container .left-container .left-content .content-item .icon-Frame-393 {
  font-size: 48px;
}
.our-clients .container .left-container .left-content .content-item .icon-Frame-393:before {
  transition: 0.3s;
}
.our-clients .container .left-container .left-content .content-item span {
  color: #282828;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}
.our-clients .container .right-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.our-clients .container .right-container .top-bg {
  position: absolute;
  top: -190px;
  right: -70px;
}
.our-clients .container .right-container img {
  max-width: 470px;
  width: 100%;
  margin: 2.8125rem 0 0;
}
.our-clients .container .right-container .bottom-bg {
  position: absolute;
  bottom: -60px;
  left: 30px;
}

.we-care .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.we-care .container .we-care-item {
  max-width: 280px;
  width: 100%;
  margin: 40px 0;
}
.we-care .container .we-care-item span {
  padding: 5px 10px;
  background: #214788;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.we-care .container .we-care-item h3 {
  margin: 10px 0 10px;
  color: #282828;
  font-size: 18px;
  font-weight: 600;
}
.we-care .container .we-care-item p {
  color: #6C6C6C;
  font-size: 14px;
  font-weight: 400;
}

.logos-section {
  background-image: url("../images/Frame 100.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
  margin-top: 10px;
}
.logos-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logos-section .container .line {
  width: 1px;
  height: 60px;
  background: #5F5F5F;
}

.cooperation-section {
  margin: 100px 0;
}
.cooperation-section .container {
  min-height: 490px;
  background-image: url("../images/cooperation.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.cooperation-section .container .from-section {
  display: flex;
  align-items: end;
}
.cooperation-section .container .from-section .form-section-from {
  display: flex;
  flex-direction: column;
  width: 23.125rem;
}
.cooperation-section .container .from-section .form-section-from input {
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 10px;
  margin-top: 10px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.3);
}
.cooperation-section .container .from-section .form-section-from input::placeholder {
  color: #fff;
}
.cooperation-section .container .from-section .form-section-from input:focus {
  border-bottom: 1px solid #fff;
}
.cooperation-section .container .from-section .form-section-from button {
  margin-top: 20px;
  background-image: url("../images/sendButton.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 20px 30px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cooperation-section .container .from-section .form-section-from button i {
  font-size: 16px;
  margin-left: 10px;
}
.cooperation-section .container .text-section {
  max-width: 645px;
  width: 100%;
}
.cooperation-section .container .text-section h3 {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

footer {
  border-top: 1px solid #E8E8E8;
  padding: 30px 0;
}
footer .container .footer-top {
  display: flex;
  justify-content: space-between;
}
footer .container .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #E8E8E8;
  padding-top: 20px;
  margin-top: 20px;
}

#CanvasMenu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  height: 100vh;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  margin-top: 12.5rem;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  pointer-events: auto;
}
.menu.show {
  visibility: visible;
  opacity: 1;
}
.menu .container {
  display: flex;
  justify-content: start;
  align-items: start;
}
.menu-title {
  margin-bottom: 0.625rem;
}
.menu-column {
  opacity: 0;
  transform: translateX(-50px);
  margin: 0 70px;
}
.menu-column a {
  color: black;
}
.menu-column:not(.show) {
  transition: opacity 0.15s ease, transform 0.15s ease;
}
.menu-column.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.menu-column ul {
  list-style: none;
}
.menu-column ul li {
  margin-bottom: 3px;
}

/*# sourceMappingURL=style.css.map */
