@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #033862;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #033862;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}


.container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}


.header{
  height: 22.625rem;
  background: url("../images/header-background.webp") no-repeat center;
  background-size: cover;
  position: relative;
  &-animation{
    position: absolute;
    right: 0;
    top: 0;
  }
}

.title-animation{
  @include flex('sb', 'c');
  span{
    position: relative;
    overflow: hidden;
    display: block;
    animation: title-animation-parent 6s infinite ease;
    border-right: 1px solid rgba(232, 232, 232, 0.40);
    &:before{
      content: var(--letter);
      position: relative;
      right: -100px;
      color: #FFF;
      text-align: center;
      font-size: 78px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      padding: 8px 10px 0 10px;
      animation: title-animation 6s infinite ease;
    }
  }
}

@keyframes title-animation {
  0%{
    right: -100px;
  }
  30%{
    right: 0;
  }
  70%{
    right: 0;
  }
  99%{
    right: -100px;
  }
}

@keyframes title-animation-parent {
  0%{
    border-right: 1px solid rgba(232, 232, 232, 0.40);
  }
  30%{
    border-right: 1px solid rgba(232, 232, 232, 0.40);
  }
  85%{
    border-right: 1px solid rgba(232, 232, 232, 0.40);
  }
  100%{
    border-right: 1px solid rgba(232, 232, 232, 0);
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  .nav-right-info{
    max-width: 24.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .personal-account a{
      background-image: url("../images/Vector.svg");
      background-repeat: no-repeat;
      background-position: center;
      padding: 12px 25px 12px 0;
      transition: 0.3s;
    }
    .personal-account a:hover{
      background-image: url("../images/Vector-bg.svg");
    }
    a{
      color: #282828;
      font-size: 14px;
      font-weight: 600;
      .icon-person{
        font-size: 16px;
        margin-right: 5px;
      }
      .icon-phone{
        font-size: 16px;
        margin-right: 5px;
      }
    }
    .language{
      text-decoration: underline;
    }
  }
  .nav-left-info{
    max-width: 24.25rem;
    width: 100%;
    .icon-menu{
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.our-clients{

}