@import "helper";
@import "../fonts/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #033862;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #033862;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

button{
  border: 0;
}

.container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn-see-more{
  background: transparent;
  position: relative;
  @include flex('c', 'c');
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  width: 11.25rem;
  height: 2.5rem;
  cursor: pointer;
  svg{
    position: absolute;
    left: -31px;
    top: -7px;
    z-index: -1;
    zoom: 1.1;
    path{
      fill: #11366F;
      transition: 0.3s;
    }
  }
  i{
    margin-left: 0.625rem;
  }
  &:hover{
    svg{
      path{
        fill: #092756;
        transition: 0.3s;
      }
    }
  }
}

.header{
  height: 22.625rem;
  background: url("../images/header-background.webp") no-repeat center;
  background-size: cover;
  position: relative;
  &-animation{
    position: absolute;
    right: 0;
    top: 0;
  }
}

.title-animation{
  @include flex('sb', 'c');
  span{
    position: relative;
    overflow: hidden;
    display: block;
    animation: title-animation-parent 6s infinite ease;
    border-right: 1px solid rgba(232, 232, 232, 0.40);
    &:before{
      content: var(--letter);
      position: relative;
      right: -100px;
      color: #FFF;
      text-align: center;
      font-size: 78px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      padding: 8px 10px 0 10px;
      animation: title-animation 6s infinite ease;
    }
  }
}

@keyframes title-animation {
  0%{
    right: -100px;
  }
  30%{
    right: 0;
  }
  70%{
    right: 0;
  }
  99%{
    right: -100px;
  }
}

@keyframes title-animation-parent {
  0%{
    border-right: 1px solid rgba(232, 232, 232, 0.40);
  }
  30%{
    border-right: 1px solid rgba(232, 232, 232, 0.40);
  }
  85%{
    border-right: 1px solid rgba(232, 232, 232, 0.40);
  }
  100%{
    border-right: 1px solid rgba(232, 232, 232, 0);
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
  .nav-right-info{
    max-width: 24.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .personal-account a{
      background-image: url("../images/Vector.svg");
      background-repeat: no-repeat;
      background-position: center;
      padding: 0.75rem 1.5625rem 0.75rem 0;
      transition: 0.3s;
    }
    .personal-account a:hover{
      background-image: url("../images/Vector-bg.svg");
    }
    a{
      color: #282828;
      font-size: 14px;
      font-weight: 600;
      .icon-person{
        font-size: 1rem;
        margin-right: 0.3125rem;
      }
      .icon-phone{
        font-size: 1rem;
        margin-right: 0.3125rem;
      }
    }
    .language{
      text-decoration: underline;
    }
  }
  .nav-left-info{
    max-width: 24.25rem;
    width: 100%;
    .icon-menu{
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

.how-working{
  margin-top: 2.5rem;
  &-body{
    @include flex('sb', 's');
  }
  &-title{
    width: 515.15px;
    color: #282828;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-description{
    color: #6C6C6C;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1.25rem;
    width: 100%;
    max-width: 250px;
  }
  &-seeMore{
    margin-top: 1.25rem;
    display: flex;
    justify-content: start;
    .airplane-animation{
      margin-left: 30px;
    }
  }
  &-your{
    color: #282828;
    text-align: right;
    font-size: 0.875rem;
    font-weight: 500;
  }
  &-data{
    display: flex;
    @include flex('e', 'e');
    color: #282828;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    span{
      font-size: 3.125rem;
      position: relative;
      bottom: -9px;
      margin-right: 5px;
    }
  }
  &-day{
    color: #282828;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0.75rem;
  }
}

.airplane-animation{
  &.active{
    .airplane{
      animation: airplane 6s infinite ease;
    }
  }
  svg{
    margin-top: -92px;
  }
  .airplane{
    transform: translate(0, 0);
  }
}


@keyframes airplane {
  0%{
    transform: translate(0, 0) rotate(0);
  }
  50%{
    transform: translate(80px, -5px) rotate(-5deg);
  }
  90%{
    transform: translate(300px, -40px) rotate(-20deg);
  }
  100%{
    transform: translate(300px, -40px) rotate(-20deg);
  }
}


.our-clients{
  .our-clients-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1420px;
    width: 100%;
    margin: auto;
    .left-container{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .left-content{
        max-width: 44.375rem;
        width: 100%;
        h3{
          margin: 5rem 0 2.5rem;
          color: #282828;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
        .content-item{
          max-width: 36.875rem;
          width: 100%;
          border-bottom: 1px solid #E8E8E8;
          display: flex;
          align-items: center;
          padding: 15px 10px;
          cursor: pointer;
          .icon-Frame-394{
            font-size: 48px;
          }
          .icon-Frame-393{
            font-size: 48px;
          }
          span{
            color: #282828;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 20px;
          }
        }
      }
    }

  }
}