@import "helper";
@import "../fonts/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #033862;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #033862;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

button{
  border: 0;
}

.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-see-more{
  background: transparent;
  position: relative;
  @include flex('c', 'c');
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  width: 11.25rem;
  height: 2.5rem;
  cursor: pointer;
  padding-top: 8px;
  svg{
    position: absolute;
    left: -26px;
    top: 0;
    z-index: -1;
    zoom: 1;
    path{
      fill: #11366F;
      transition: 0.3s;
    }
  }
  i{
    margin-left: 0.625rem;
  }
  &:hover{
    svg{
      path{
        fill: #092756;
        transition: 0.3s;
      }
    }
  }
}

.header{
  height: 22.625rem;
  background-size: cover;
  position: relative;
  box-shadow: 4px 4px 67.7px 1px rgba(146, 146, 146, 0.25);
  @include flex('sb', 'c');
  margin-top: 10px;
  &-images{
    object-fit: cover;
    transition: 0.7s;
    overflow: hidden;
    height: 22.625rem;
    position: relative;
    @include bg;
    @include col(5, 0px);
    filter: contrast(1.2) saturate(0.5) grayscale(0);
    &:after{
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(210deg, #00000040, transparent, transparent);
      background-size: 490%;
      transition: 0.7s;
      background-position: -40% 0;
    }
    img{
      opacity: 0.2;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
      transition: opacity 0.7s;
    }

    &:hover{
      filter: unset;
      img{
        opacity: 0;
      }
      &:after{
        background-position: -90% 0;
      }
    }
  }
  &-animation{
    position: absolute;
    right: 0;
    top: 0;
  }
}

.title-animation{
  @include flex('sb', 'c');
  span{
    position: relative;
    overflow: hidden;
    display: block;
    border-right: 1px solid rgba(232, 232, 232, 0.40);
    width: 96px;
    height: 102px;
    @include flex('c', 'c');
    &:before{
      content: var(--letter);
      position: relative;
      right: -100px;
      color: #FFF;
      text-align: center;
      font-size: 78px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      padding: 8px 10px 0 10px;
      animation: title-animation 6s infinite ease;
    }
  }
}

@keyframes title-animation {
  0%{
    right: -100px;
  }
  30%{
    right: 0;
  }
  70%{
    right: 0;
  }
  99%{
    right: -100px;
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;
  position: relative;
  z-index: 10;
  padding-top: 14px;
  .nav-right-info{
    max-width: 24.1875rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-right-info-tel{
      margin-right: 10px;
    }

    a{
      color: #282828;
      font-size: 14px;
      font-weight: 600;
      .icon-person{
        font-size: 1rem;
        margin-right: 0.3125rem;
      }
      .icon-phone{
        font-size: 1rem;
        margin-right: 0.3125rem;
        color: #214788;
      }
    }
    .language{
      text-decoration: underline;
      padding: 0 1px 1px 0;
    }
  }
  .logo-block{
    img{
      transition: 0.3s;
    }
  }
  .nav-left-info{
    max-width: 24.25rem;
    width: 100%;
    z-index: 100;
    .nav-menu-button-icon{
      width: 40px;
      height: 40px;
      @include flex('c', 'c');
      z-index: 100;
      cursor: pointer;
      position: relative;
      left: -8px;
      svg{
        path{
          transition: 0.3s;
        }
      }

      &.show{
        svg{
          path{
            &:nth-of-type(1){
              opacity: 0;
            }
            &:nth-of-type(2){
              transform: translate(-4px, 13px) rotate(-45deg);
            }
            &:nth-of-type(3){
              transform: translate(17px, -7px) rotate(45deg);
            }
          }
        }
      }
    }
  }
}

.how-working{
  margin-top: 43px;
  &-body{
    @include flex('sb', 's');
  }
  &-counts{
    padding-right: 32px;
  }
  &-title{
    width: 515.15px;
    color: #282828;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "RF Dewi";
  }
  &-description{
    color: #6C6C6C;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1.25rem;
    width: 100%;
    max-width: 250px;
  }

  &-your{
    color: #282828;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  &-data{
    display: flex;
    @include flex('e', 'e');
    color: #282828;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    span{
      font-size: 3rem;
      position: relative;
      bottom: -9px;
      margin-right: 6px;

      @media (max-width: 768px){
        bottom: -6px;
      }
    }
  }
  &-day{
    color: #282828;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
  }
}

.seeMore{
  margin-top: 1.25rem;
  display: flex;
  justify-content: start;

  .btn-see-more:hover ~ .airplane-animation{
    opacity: 1;
    .airplane{
      animation: airplane 6s infinite ease;
      animation-iteration-count: 1;
    }
  }
  .airplane-animation{
    margin-left: 30px;
    transition: 0.3s;
    opacity: 0;
    svg{
      margin-top: -92px;
    }
    .airplane{
      transform: translate(0, 0);
    }
  }

}

@keyframes airplane {
  0%{
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
  50%{
    transform: translate(80px, -5px) rotate(-5deg);
    opacity: 1;
  }
  90%{
    transform: translate(300px, -40px) rotate(-20deg);
    opacity: 1;
  }
  100%{
    transform: translate(300px, -40px) rotate(-20deg);
    opacity: 0;
  }
}

.our-clients{
  margin-top: 20px;
  &-content{
    box-shadow: 4px 4px 67.7px 25px rgba(146, 146, 146, 0.25);
  }
  .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .left-container{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-bottom: 75px;
      padding-top: 5px;
      .left-content{
        max-width: 44.375rem;
        width: 100%;
        h3{
          color: #282828;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          position: relative;
          font-family: "RF Dewi";
          margin: 2.5rem 0 2.8125rem;

          img{
            position: absolute;
            opacity: 0.05;
            left: -200px;
            top: -60px;
            z-index: -1;
          }
        }
        .content-item{
          max-width: 36.875rem;
          width: 100%;
          border-bottom: 1px solid #E8E8E8;
          display: flex;
          align-items: center;
          padding: 15px 10px;
          cursor: pointer;
          .icon-Frame-394{
            font-size: 48px;
          }
          .icon-Frame-394:before {
            //transition: 0.3s;
            margin-left: 5px;
            position: relative;
            top: -6px;
          }
          .icon-Frame-393{
            font-size: 48px;
            margin-left: 5px;
            position: relative;
            top: -6px;
          }
          .icon-Frame-393:before {
            //transition: 0.3s;
          }
          span{
            color: #282828;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 30px;
          }
        }
      }
    }
    .right-container{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      .top-bg{
        position: absolute;
        top: -190px;
        right: -70px;
      }
      img{
        max-width: 470px;
        width: 100%;
        margin: 45px 0 0;
        z-index: 1;
      }
      .bottom-bg{
        position: absolute;
        bottom: -75px;
        left: 0;
        max-width: 600px;
      }
    }
  }
}

.we-care{
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .we-care-item{
      max-width: 265px;
      min-height: 187px;
      width: 100%;
      margin: 36px 10px 40px 0;
      span{
        padding: 4px 10px;
        background: #214788;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
      }
      h3{
        margin: 8px 0 10px;
        color: #282828;
        font-size: 18px;
        font-weight: 600;
        max-width: 160px;
      }
      p{
        color: #6C6C6C;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

.logos-section{
  background-image: url("../images/Frame 100.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 26px 0;
  margin-top: 3px;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .line{
      width: 1px;
      height: 60px;
      background: #5F5F5F;
    }
  }
}

.cooperation-section{
  margin: 60px 0;
  padding: 0 20px;

  &.home{
    margin-top: 96px;
    margin-bottom: 100px;
  }
  .container{
    min-height: 490px;
    background-image: url("../images/cooperation.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 21px 4px 38px 36px;
    display: flex;
    justify-content: space-between;
    max-width: 1290px;
    .from-section{
      display: flex;
      align-items: end;
      .form-section-from{
        display: flex;
        flex-direction: column;
        width: 23.125rem;
        input {
          background: transparent;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          padding: 15px 10px;
          margin-top: 10px;
          border-bottom: 1px solid rgba(232, 232, 232, 0.30);
        }
        input::placeholder{
          color: #fff;
        }
        input:focus{
          border-bottom: 1px solid #fff;
        }
        button{
          margin-top: 20px;
          background-image: url("../images/sendButton.svg");
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          background-color: transparent;
          padding: 20px 30px;
          color: #ffffff;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          i{
            font-size: 16px;
            margin-left: 10px;
          }
        }
      }
    }


    .text-section{
      max-width: 645px;
      width: 100%;
      h3{
        color: #FFF;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'RF Dewi', sans-serif;
      }
    }
  }
}

footer{
  border-top: 1px solid  #E8E8E8;
  padding: 30px 0 15px;
  .container{

    .footer-top{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .footer-top-left{
        max-width: 720px;
        width: 100%;
        margin-right: 15px;
        @media (max-width: 767px){
          margin-right: 0;
        }
        div{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          a{
            color: #282828;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            opacity: 0.4;
            transition: 0.3s;
          }
          :hover{
            color: #214788;
            opacity: 1;
          }
        }
        .last-block {
          max-width: 664px;
          margin-top: -8px;
        }
        .black-text-block{
          a{
            color: #282828;
            opacity: 1;
          }
          :hover{
            color: #214788;
          }
        }
        .last-block{
          button{
            width: 190px;
            border-top: 1px solid #282828;
            color: #282828;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            background: transparent;
            padding: 15px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            outline: none;
            margin: 35px 5px 0;
            i{
              font-size: 18px;
              outline: none;
            }
          }:hover{
             color: #214788;
             border-color:  #214788;
           }
        }
      }

      .footer-top-right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;


        .footer-top-right-bgText{
          font-family: 'RF Dewi', sans-serif;
          color: #282828;
          font-size: 24px;
          font-weight: 700;
          line-height: normal;
          text-decoration-line: underline;
          text-transform: uppercase;
          transition: 0.3s;
          .icon-arrow-right2{
            font-size: 18px;
          }
        }
        :hover{
          color: #214788;
        }

        .footer-top-right-text{
          color: #282828;
          text-align: right;
          font-size: 13px;
          font-weight: 500;
          margin-bottom: 20px;
          :hover{
            color: #282828;
          }
        }
      }
    }

    .footer-bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid  #E8E8E8;
      padding-top: 20px;
      margin-top: 20px;
      p{
        color: #282828;
        font-size: 12px;
        font-weight: 500;
        opacity: 0.4;
      }
    }

    .personal-account {
      margin: 0px -14px 7px 0px;
    }
  }
}

.personal-account{
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.75rem 1.5625rem 0.75rem 0;
  transition: 0.3s;
  position: relative;
  a{
    color: #282828 !important;
    font-size: 14px;
    padding-left: 10px;
  }
  svg{
    position: absolute;
    left: 15px;
    top: 3px;
    transition: 0.8s;
    z-index: -1;
    *{
      transition: 0.8s;
    }
  }

  &:hover{
    .anim-solid{
      stroke-dasharray: 282px;
      stroke-dashoffset: 0;
    }
  }
}




#CanvasMenu{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  height: 100vh;
}

.menu{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  margin-top: 12.5rem;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  pointer-events: auto;
  &.show{
    visibility: visible;
    opacity: 1;
  }

  .container{
    @include flex('s', 's');
  }

  &-title{
    color: #282828;
    font-family: "RF Dewi", sans-serif;;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }

  &-column{
    opacity: 0;
    transform: translateX(-50px);

    @include col(4, 0px);
    margin-right: 4.375rem;
    &:nth-of-type(2){
      @include col(2, 0px);
    }
    &:last-child{
      margin-right: 0;
    }
    &:not(.show) {
      transition: opacity 0.15s ease, transform 0.15s ease;
    }
    &.show {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.8s ease, transform 0.8s ease;
    }
    ul{
      list-style: none;
      li{
        margin-bottom: 3px;
        padding: 10px 12px;
        position: relative;
        &:after{
          content: '';
          width: 0;
          height: 1px;
          background: #666;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: 0.3s;
        }

        &:hover{
          &:after{
            width: 100%;
          }
          a{
            &:before{
              width: 5px;
              min-width: 5px;
              margin-right: 6px;
              opacity: 1;
            }
            &:after{
              opacity: 1;
            }
          }
        }
        a{
          color: #282828;
          font-size: 13px;
          font-weight: 400;
          display: flex;
          justify-content: start;
          align-items: center;
          position: relative;
          width: 100%;
          &:before{
            content: '';
            display: block;
            width: 0;
            min-width: 0;
            height: 5px;
            border-radius: 50%;
            background: #282828;
            margin-right: 0;
            transition: 0.3s;
            opacity: 0;
          }
          &:after{
            content: "";
            width: 40px;
            height: 40px;
            background: url(../images/icons/icon-open-link.svg) no-repeat center;
            background-size: 13px;
            position: absolute;
            right: 0;
            top: -11px;
            opacity: 0;
            transition: 0.3s;
          }
        }
      }
    }
  }


}

.company-title{
  margin-top: 19px;
  h2{
    color: #282828;
    font-family: 'RF Dewi', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    .icon-arrow-right2{
      font-size: 14px;
      margin: 0 15px;
    }
    a{
      color: #282828;
      font-size: 13px;
      font-weight: 400;
    }
  }
}

.company-past-top{
  position: relative;
  .left-image-block{
    position: relative;
    .left-svg-icon{
      position: absolute;
      bottom: -20px;
      left: -240px;
      .path {
        stroke-dasharray: 1672;
        stroke-dashoffset: 1672;
        stroke-width: 16px;
        transition: 1.3s;
        transition-delay: 1.5s;
      }
    }
    .changed{
      .path {
        stroke-dashoffset: 670 !important;
        //animation: dash 1.5s ease-in ;
        //animation-iteration-count: 1;
      }

      @keyframes dash {
        0% {
          stroke-dashoffset: 1672;
        }
        100% {
          stroke-dashoffset: 670;
        }
      }
    }
  }
  .right-text-block{
    .company-past-top-mobile-bg{
      display: none;
    }
  }
}

.company-past-bottom{
  position: relative;
  .container{
    margin-top: 10px;
  }

  .right-text-block{
    .company-past-top-mobile-bg{
      display: none;
    }
  }
}

.company-past{
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

    .left-image-block{
      width: 50%;
      margin: 38px 0 0 0;
      display: flex;
      position: relative;
      h3{
        transform: rotate(-90deg);
        color: #282828;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 160px 0 0 0;
        font-family: 'RF Dewi', sans-serif;
      }
      .top-slider-animation{
        min-width: calc(100% - 120px);
        height: 412px;
        background-position: 0% 0%;
        background-size: 150%;
        background-repeat: no-repeat;
        transition: 1.5s;

      }

      .company-past-top-left-simple-Img{
        width: 100%;
      }
    }

    .right-text-block{
      width: 50%;
      margin-top: 40px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: column;
      h3{
        max-width: 600px;
        width: 100%;
        color: #282828;
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        font-family: 'RF Dewi', sans-serif;
        .years-svg{
          position: relative;

          &.changed{
            .path-years-svg{
              stroke-dashoffset: 634;
            }
          }
          svg{
            position: absolute;
            top: -5px;
            left: -10px;
          }

          .path-years-svg {
            stroke-dasharray: 300;
            stroke-dashoffset: 904;
            transition: 1.5s;
            transition-delay: 1.5s;
            stroke-width: 20px;
          }
        }
        .service{
          position: relative;
          svg{
            position: absolute;
            left: -10px;
            top: -10px;
          }
        }
      }
      p{
        max-width: 252px;
        width: 100%;
        color: #282828;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .bottom-text-block{
      max-width: 1020px;
      width: 100%;
      margin-top: 60px;
      p{
        color: #282828;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
      }
      .background-color-changed{
        background: linear-gradient(to left, white 50%, #282828 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: background-position 1s ease-out;
      }
      .changed {
        background-position: left bottom;
        display: inline-block;
        color: #fff;
        padding: 0 10px;
        font-size: 13px;
        margin-left: -10px;
      }
    }

    .bottom-block{
      width: 100%;
      margin-top: 60px;
      h3{
        font-family: 'RF Dewi', sans-serif;
        max-width: 510px;
        width: 100%;
        margin: auto;
        padding: 6px 16px;
        background: #282828;
        color: #FFF;
        font-weight: 700;
        font-size: 44px;
        text-transform: uppercase;
      }
    }
  }
}

.company-present{
  overflow-x: hidden;
  padding: 230px 0 100px 0;
  margin-top: -90px;
  overflow-y: hidden;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    .left-text-block{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding-right: 15px;
      position: relative;
      h3{
        color: #282828;
        font-size: 26px;
        font-weight: 700;
        margin-top: 10px;
        max-width: 600px;
        width: 100%;
        font-family: 'RF Dewi', sans-serif;
      }
      .left-block-img{
        position: absolute;
        opacity: 0.1;
        z-index: -1;
        left: -135px;
        bottom: 78px;
      }
    }

    .right-image-block{
      width: 50%;
      display: flex;
      align-items: end;
      justify-content: end;
      position: relative;
      p{
        transform: rotate(-90deg);
        color: #282828;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 125px -125px;
        font-family: 'RF Dewi', sans-serif;
      }
      .right-block-img{
        position: absolute;
        top: -240px;
        right: -50px;
        z-index: -1;
      }
      .right-block-circle-img{
        position: absolute;
        right: -135px;
        bottom: -95px;
        display: block;

        &.changed{
          .path-company-svg-desktop{
            stroke-dashoffset: 300;
          }
        }
        .path-company-svg-desktop{
          stroke-dasharray: 1100;
          stroke-dashoffset: 1070;
          transition: 1.5s;
          transition-delay: 1.5s;
          stroke-width: 60px;
        }
      }
      .right-block-circle-img-mobile{
        display: none;
      }
    }

    .bottom-text-block{
      width: 100%;
      margin-top: 70px;
      padding: 5px 0 15px 0;
      display: flex;
      align-items: end;
      flex-direction: column;
      border-top: 1px solid #E8E8E8;;
      border-bottom: 1px solid #E8E8E8;;
      position: relative;
      p{
        max-width: 525px;
        width: 100%;
        color: #282828;
        font-size: 14px;
        font-weight: 500;
        margin-top: 10px;
      }
      .bottom-block-img{
        position: absolute;
        z-index: -1;
        top: -70px;
        right: 30px;
      }
    }
  }
}

.company-recommendation{
  background-image: url("../images/company/recommendation-bg.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin-top: 120px;
  .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    .container-item{
      width: 25%;
      height: 250px;
      padding: 20px;
      border: 1px solid rgba(232, 232, 232, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3{
        color: #FFF;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'RF Dewi', sans-serif;
      }
      p{
        color: #FFF;
        font-size: 14px;
        line-height: 16px;
      }
      a{
        width: 24px;
        height: 24px;
        transform: rotate(-45deg);
        color: #214788;
        i{
          font-size: 24px;
        }
      }
    }
    .container-item:nth-child(1){
      border: none;
      background-image: url("../images/company/company-recommendation-top.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .container-item:nth-child(2){
      border: none;
    }
    .container-item:nth-child(5){
      border-left: 1px solid rgba(232, 232, 232, 0.2);
      border-top: none;
      border-bottom: none;
      border-right: none;
    }
    .container-item:nth-child(8){
      border: none;
    }
    .container-item:nth-child(9){
      border-left: 1px solid rgba(232, 232, 232, 0.2);
      border-top: none;
      border-bottom: none;
      border-right: none;
    }
    .container-item:nth-child(10){
      border: none;
    }
    .container-item:nth-child(11){
      border: none;
      background-image: url("../images/company/company-recommendation-bottom.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.bottom-slider{
  .container{
    margin-top: 70px;
    .multiple-items {
      .menu-item{
        height: 525px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 40px 20px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        h3{
          color: #282828;
          text-align: center;
          font-family: "RF Dewi";
          font-size: 32px;
          font-weight: 700;
          text-transform: uppercase;
        }
        p{
          color: #282828;
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          margin-top: 25px;
        }
        span{
          color: #FFF;
          text-align: center;
          font-family: "RF Dewi";
          font-size: 58px;
          font-style: normal;
          font-weight: 700;
          text-transform: uppercase;
          position: absolute;
        }
        video{
          display: none;
        }
      }
      .menu-item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0.1;
        transition: opacity 0.3s ease;
      }
      .menu-item:hover .menu-item-video{
        display: block;
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .menu-item-one::before{
        content: "";
        background-image: url("../images/company/alla.webp");
      }
      .menu-item-one{
        span{
          transform: rotate(-90deg);
          top: 43px;
          right: -52px;
        }
      }

      .menu-item-two::before{
        content: "";
        background-image: url("../images/company/dmitri.webp");
      }
      .menu-item-two{
        span{
          transform: rotate(-90deg);
          top: 111px;
          right: -123px;
        }
      }

      .menu-item-three{
        span{
          transform: rotate(-90deg);
          top: 99px;
          right: -107px;
        }
      }
      .menu-item-three::before{
        content: "";
        background-image: url("../images/company/alla.webp");
      }


      .menu-item-four::before{
        content: "";
        background-image: url("../images/company/dmitri.webp");
      }
      .menu-item-four{
        span{
          transform: rotate(-90deg);
          top: 142px;
          right: -152px;
        }
      }
    }
  }
}

.find-more{
  margin-top: 60px;
  .container{
    .top-section{
      margin-bottom: 60px;
      p{
        max-width: 920px;
        color: #282828;
        font-size: 14px;
        line-height: 20px;
      }
      .background-color-changed-bottom{
        background: linear-gradient(to left, white 50%, black 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: background-position 1s ease-out;
      }
      .changed{
        background-position: left bottom;
        display: inline-block;
        color: #fff;
        padding: 3px 10px;
      }
      .btn-see-more{
        margin-top: 33px;
        margin-left: 50px;
      }
    }
    .bottom-section{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p{
        color: #6C6C6C;
        font-size: 13px;
        margin-bottom: 5px;
        text-align: end;
      }
      a{
        margin-top: 10px;
        color: #282828;
        display: flex;
        align-items: center;

        i{
          color: #282828;
          margin-left: 10px;
          margin-top: 5px;
          text-decoration: none;
        }
        span{
          text-decoration: underline;
          font-size: 13px;
        }
      }
    }
  }
}

//********** news page ***********
.news-section-cody{
  margin: 50px 0 100px;
  .container{
    display: flex;
    justify-content: space-between;
    gap: 0 40px;

    .news-body{
      width: 75%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 40px 0;
      height: fit-content;
      .news-body-item{
        @include col(6, 20px);
        min-height: 335px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        position: relative;
        z-index: 1;
        h3{
          color: #FFF;
          font-weight: 600;
          font-size: 18px;
          text-transform: uppercase;
          padding: 4px 10px;
          background: #214788;
          width: fit-content;
          z-index: 1;
          transition: 0.3s;
        }
        h4{
          color: #FFF;
          font-weight: 600;
          font-size: 16px;
          text-transform: uppercase;
          margin: 10px 0;
          z-index: 1;
          transition: 0.3s;
        }
        p{
          display: none;
          z-index: 1;
          font-size: 14px;
          color: #282828;
          transition: 0.3s;
        }
        .news-body-item-bottom-text{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        a{
          display: none;
          z-index: 1;
          color: #214788;
          font-size: 14px;
          text-decoration: underline;
          transition: 0.3s;
        }
        span{
          color: #FFF;
          font-size: 13px;
          z-index: 1;
          transition: 0.3s;
        }
        .hover-bg-fon{
          position: absolute;
          width: 100%;
          background-color: transparent;
          left: 0;
          bottom: 0;
          transition: 0.5s;
          z-index: 0;
          border: none;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: end;
        }
      }:hover .hover-bg-fon{
          background-color: #fff;
          border: 1px solid #282828;
       }
      :hover h3{
        color: #FFF;
        background: #282828;
      }
      :hover h4{
        color: #282828;
      }
      :hover p{
        display: block;
      }
      :hover a{
        display: block;
      }
      :hover span{
        color: #282828;
        margin-top: 20px;
      }

      .news-body-item-one{
        background-image: url("../images/news/news-item-1.webp");
      }
      .news-body-item-tew{
        background-image: url("../images/news/news-item-6.webp");
      }
      .news-body-item-three{
        background-image: url("../images/news/news-item-2.webp");
      }
      .news-body-item-four{
        background-image: url("../images/news/news-item-3.webp");
      }
      .news-body-item-five{
        background-image: url("../images/news/news-item-4.webp");
      }
      .news-body-item-six{
        background-image: url("../images/news/news-item-5.webp");
      }
    }

    .news-sidebar{
      width: 25%;

      .news-side-item{
        padding: 14px 10px;
        background-color: #fff;
        border: 1px solid #E8E8E8;
        cursor: pointer;
        h3{
          padding: 4px 10px;
          background: #214788;
          color: #FFF;
          font-weight: 600;
          font-size: 16px;
          text-transform: uppercase;
          width: fit-content;
        }
        h4{
          color: #282828;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          margin: 7px 0 10px;
        }
        span{
          color: #6C6C6C;
          font-size: 13px;
          font-weight: 400;
        }

        .sidebar-hover-block-info{
          transition: 0.5s;
          margin-top: 10px;
          overflow: hidden;
          height: 0;
          img{
            width: 100%;
          }
          h3{
            color: #FFF;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 4px 10px;
            background: #282828;
            margin-top: 10px;
          }
          p{
            color: #6C6C6C;
            font-size: 14px;
            font-weight: 400;
          }
          .news-body-item-bottom-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            a{
              color: #214788;
              font-size: 13px;
              font-weight: 400;
              text-decoration: underline;
            }
          }
        }
      }
      :hover .sidebar-hover-block-info{
        height: 320px;
        transition: 0.5s;
      }

      .pagination-block{
        margin-top: 25px;
        .pagination {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .page-number{
            padding: 5px;
            border-radius: 4px;
            border: 1px solid #E8E8E8;
            width: 33px;
            height: 33px;
            color: #282828;
            text-align: center;
            font-size: 13px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
          }
          .page-number:hover:not(.active) {
            background-color: #282828;
            color: #fff;
            border-radius: 5px;
          }
          .active {
            background-color: #282828;
            color: white;
            border-radius: 5px;
          }
          .right-arrow, .left-arrow{
            color: #282828;;
            padding: 5px;
            i{
              font-size: 16px;
            }
          }
          .left-arrow{
            transform: rotate(-180deg);
          }
        }
        .pagination-archive-posts{
          color: #666;
          font-size: 12px;
          text-decoration: underline;
          margin-top: 15px;
          display: block;
          text-align: end;
        }
      }
    }
  }
}

// ******** Service **************
.header-block{
  margin-top: 40px;
  .header{
    background-image: url("../images/service/service-hero.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.reliable{
  padding: 90px 0;
  background-image: url("../images/service/Reliable-Comfortable.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 20px;
    .right-text-block{
      h3{
        color: #282828;
        font-family: "RF Dewi";
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      .links-block{
        display: flex;
        flex-direction: column;
        max-width: 590px;
        width: 100%;

        a{
          padding: 17px 14px;
          border-bottom: 1px solid #E8E8E8;
          color: #282828;
          font-size: 16px;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: space-between;
          i{
            margin-left: 15px;
            transform: rotate(-45deg);
            color: #214788;
          }
        }
      }
    }
    .reliable-left-img{
      max-width: 470px;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}

.fast{
  background-image: url("../images/service/Fast-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 20px;
    .right-text-block{
      h3{
        color: #FFF;
        font-family: "RF Dewi";
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      .links-block{
        display: flex;
        flex-direction: column;
        max-width: 590px;
        width: 100%;

        a{
          padding: 17px 14px;
          border-bottom: 1px solid #E8E8E8;
          color: #FFF;
          font-size: 16px;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: space-between;
          i{
            margin-left: 15px;
            transform: rotate(-45deg);
          }
        }
      }
    }
    .fast-left-img{
      max-width: 470px;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}

.organizations{
  margin: 80px auto;
  .container{
    display: flex;
    flex-direction: column;
    .organizations-title{
      h3{
        padding: 6px 16px;
        background: #214788;
        color: #FFF;
        font-family: "RF Dewi";
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        width: fit-content;
        margin: 0 auto 50px;
      }
    }
    .text-item{
      padding: 20px 14px;
      border-bottom: 1px solid #E8E8E8;
      color: #282828;
      font-family: Inter;
      font-size: 22px;
      font-weight: 600;
    }
    .second{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: end;
      p{
        max-width: 990px;
        width: 100%;
      }
    }
  }
}

.advantages{
  background-image: url("../images/service/bottom-section-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 90px 0;

  .container{
    display: flex;
    flex-direction: column;
    .advantages-title{
      h3{
        color: #FFF;
        font-family: "RF Dewi";
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 60px;
        text-align: center;
      }
    }
    .advantages-tabele{
      display: flex;
      align-items: center;
      justify-content: center;
      div{
        width: 258px;
        height: 272px;
        padding: 20px;
        border: 1px solid rgba(232, 232, 232, 0.20);
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          color: #FFF;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
        }
      }
    }
  }
}