@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ytc39o');
  src:  url('fonts/icomoon.eot?ytc39o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ytc39o') format('truetype'),
    url('fonts/icomoon.woff?ytc39o') format('woff'),
    url('fonts/icomoon.svg?ytc39o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Frame-394:before {
  content: "\e903";
  color: #214788;
}
.icon-Frame-393:before {
  content: "\e904";
  color: #a7a7a7;
}
.icon-Vector:before {
  content: "\e902";
}
.icon-person:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-vk:before {
  content: "\ea98";
}
