@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oib9ze');
  src:  url('fonts/icomoon.eot?oib9ze#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oib9ze') format('truetype'),
    url('fonts/icomoon.woff?oib9ze') format('woff'),
    url('fonts/icomoon.svg?oib9ze#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector:before {
  content: "\e902";
}
.icon-person:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
